<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit
	http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
	
	<!-- 定义RabbitMQ的连接工厂 -->
	<rabbit:connection-factory id="connectionFactory"
		host="${rabbitmq.host}" port="${rabbitmq.port}" username="${rabbitmq.username}" password="${rabbitmq.password}"
		virtual-host="/taotao" />

	<!-- 管理 -->
	<rabbit:admin connection-factory="connectionFactory"/>

	<!-- 定义队列 -->
	<rabbit:queue name="TAOTAO-WEB-ITEM-QUEUE" auto-declare="true" durable="true"/>
	
	<!-- 消费者对象 -->
	<bean id="itemMQHandler" class="com.taotao.web.mq.handler.ItemMQHandler"></bean>
	
	<!-- 定义消费者监听队列 -->
	<rabbit:listener-container connection-factory="connectionFactory">
		<rabbit:listener ref="itemMQHandler" method="execute" queue-names="TAOTAO-WEB-ITEM-QUEUE"/>
	</rabbit:listener-container>
</beans>
